<section class="section">
  <div class="container about">
    <div class="example-wrapper">
      <picture class="example">
        <source
          srcset="
            /img/pc-best1.webp     1x,
            /img/pc-best1@1-5.webp 1.5x,
            /img/pc-best1@2x.webp  2x
          "
          type="image/webp"
          media="(min-width: 1600px)"
          loading="lazy"
        />
        <source
          srcset="
            /img/tab-best1.webp     1x,
            /img/tab-best1@1-5.webp 1.5x,
            /img/tab-best1@2x.webp  2x
          "
          type="image/webp"
          media="(min-width: 768px)"
          loading="lazy"
        />
        <img
          src="/img/tab-best1.webp"
          alt="showcase of barbershop"
          width="330"
          height="235"
          class="example-img"
          loading="lazy"
        />
      </picture>
      <picture class="example">
      <source
          srcset="
            /img/pc-best2.webp     1x,
            /img/pc-best2@1-5.webp 1.5x,
            /img/pc-best2@2x.webp  2x
          "
          type="image/webp"
          media="(min-width: 1600px)"
          loading="lazy"
        />
        <source
          srcset="
            /img/tab-best2.webp     1x,
            /img/tab-best2@1-5.webp 1.5x,
            /img/tab-best2@2x.webp  2x
          "
          type="image/webp"
          media="(min-width: 768px)"
          loading="lazy"
        />
        <img
          src="/img/tab-best2.webp"
          alt="showcase of barbershop"
          width="330"
          height="235"
          class="example-img"
          loading="lazy"
        />  
      </picture>
    </div>
    <div class="about-wrapper">
      <div class="about-content">
        <p class="about-desc">About</p>
        <h2 class="about-title">Best Barbershop in your city</h2>
        <p class="about-text">
          If you want to add more confidence to your image, you should
          definitely visit us.
        </p>
        <p class="about-text">
          We are a team that never stops at what has been achieved and are
          thirsty for changes. And when you fall into the hands of our master,
          you will never be the same again. We are a team that is always "on the
          same wave" with clients. Therefore, we are always ready to improve
          everyone who comes to us!
        </p>
      </div>
      <a class="booking-link" src="#order">ONLINE-BOOKING</a>
    </div>
  </div>
</section>
