@import url(https://fonts.bunny.net/css?family=open-sans:400,600,700|raleway:700);

html {
  scroll-behavior: smooth;
}
body {
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}
a,
button,
svg,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
